# Compiled binaries, logs, and coverage reports
*.exe
*.exe-debug
*.exe-test
*.out
*.app
*.test
*.prof
*.log
*.mprof
*.pprof
coverage.txt

# Dependency directories
# (Optionally uncomment 'vendor/' if you do not want to commit vendored dependencies)
# vendor/

# Go workspace file
go.work
go.work.sum

# Output of 'go build' when target is a directory name or binary output
/bin/
/dist/

# Development / OS / Editor specific
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.env
go-podman-app
